n8n/workflows/04-knowledge-approval.json
{
  "name": "04-knowledge-approval",
  "active": false,
  "settings": { "executionOrder": "v1" },
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Manual trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "notes": "Phase 5 only — disabled until staff bot + red-team gate passed (proposal L327-340)."
    },
    {
      "parameters": {
        "jsCode": "// TODO Phase 5: create approval request for a needs_review knowledge entry.\n// Include canonical_id, summary, source_ids, reviewer hint.\nreturn items;"
      },
      "id": "create-request",
      "name": "Create approval request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://notify-api.line.me/api/notify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Authorization", "value": "Bearer {{$env.LINE_NOTIFY_TOKEN}}" }]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [{ "name": "message", "value": "={{ $json.request }}" }]
        }
      },
      "id": "send-approval",
      "name": "Send Approve/Reject",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [440, 0],
      "notes": "LINE/Email with Approve/Reject buttons or reply tokens."
    },
    {
      "parameters": {
        "jsCode": "// TODO Phase 5: on Approve, update Dify doc metadata status: approved\n// (proposal L337). On Reject, log + notify owner.\nreturn items;"
      },
      "id": "apply-decision",
      "name": "Apply decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    }
  ],
  "connections": {
    "Manual trigger": { "main": [[{ "node": "Create approval request", "type": "main", "index": 0 }]] },
    "Create approval request": { "main": [[{ "node": "Send Approve/Reject", "type": "main", "index": 0 }]] },
    "Send Approve/Reject": { "main": [[{ "node": "Apply decision", "type": "main", "index": 0 }]] }
  }
}